// ===
// Base styles
// ===
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  @extend %typography-small;
  margin: 0;
  background-color: $color-body-bg;
}

// ===
// Base element styles
// ===
a {
  color: $color-link-text;
  transition:
    box-shadow $duration-animation-base linear,
    color $duration-animation-base linear;
  &:focus {
    @extend %custom-outline;
  }
  &:visited {
    color: $color-link-text;
  }
  &:hover {
    color: $color-link-text-hover;
  }
}

h1 {
  @extend %typography-xxlarge;
}
h2 {
  @extend %typography-xlarge;
  &.fixedSize {
    font-size: 50px;
  }
}
h3 {
  @extend %typography-large;
}
h4 {
  @extend %typography-medium;
}
h5,
h6 {
  @extend %typography-small;
}

// ===
// Layout
// ===
.layout {
  overflow-x: hidden;
}

.container {
  max-width: $size-container-max-width;
  padding-right: $size-gutter-width;
  padding-left: $size-gutter-width;
  margin: 0 auto;
}

// ===
// Helpers
// ===
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
